{% include 'layout.html' %}

{% block title %}ScreenHouse{% endblock %}

{% block main-link %}"/main"{% endblock %}

{% block header-link %}
<svg data-name="Layer 1" id="Layer_1" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
    <title/>
    <path fill="#c80000" d="M25,1A24,24,0,1,0,49,25,24,24,0,0,0,25,1Zm0,46A22,22,0,1,1,47,25,22,22,0,0,1,25,47Z"/>
    <path fill="#c80000" d="M25,25.41a13,13,0,0,0-13,13,1,1,0,0,0,2,0,11,11,0,1,1,22,0,1,1,0,0,0,2,0A13,13,0,0,0,25,25.41Z"/>
    <path fill="#c80000" d="M25,23.71a7,7,0,0,0,6.81-7.2A7,7,0,0,0,25,9.3a7,7,0,0,0-6.81,7.21A7,7,0,0,0,25,23.71ZM25,11.3a5,5,0,0,1,4.81,5.21A5,5,0,0,1,25,21.71a5,5,0,0,1-4.81-5.2A5,5,0,0,1,25,11.3Z"/>
</svg><a href="/profile"><?= $user->getUsername() ?></a>{% endblock %}

{% block content %}

<div class="main-form">

    <div class="post">
        <div class="post-left">

            <img src="<?= $post->getPhoto() ?>" class="card-post-img" alt="photo">


            <div class="card-genre">
                <p class="genre"><?= $post->getGenre() ?></p>
            </div>

        </div>
        <div class="card-post post-right">
            <div class="main-post-title">
                <p class="post-title accent"><?= $post->getTitle() ?></p>
            </div>

            <div class="post-desc">
                <p class="post-text"><?= $post->getPostText() ?></p>
            </div>


            <div class="right-bot">

                <div class="bottom-user">
                    <img class="mess-photo" src="<?= $post->getAuthorPhoto() ?>" alt="photo">
                    <a class="bottom-username" href="/user?id=<?= $post->getAuthorId() ?>"><?= $post->getAuthor() ?></a>
                </div>

                <h1 class="post-date"><?= $post->getDate() ?></h1>

<!--                <svg id="like" class="<?= $post->isLiked() ?>" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">-->
<!--                    <defs>-->
<!--                        <style>-->
<!--                            .cls-1 {-->
<!--                                fill: #c80000;-->
<!--                            }-->
<!--                        </style>-->
<!--                    </defs>-->
<!--                    <title/>-->
<!--                    <g data-name="Layer 53" id="Layer_53">-->
<!--                        <path class="cls-1" d="M8,31a2,2,0,0,1-1.17-.38A2.13,2.13,0,0,1,6,28.69l.73-8.19L1.5,14.34a2.14,2.14,0,0,1-.39-2.06A2.06,2.06,0,0,1,2.6,10.9l7.62-1.8,4-7a2.05,2.05,0,0,1,3.58,0l4,7.05,7.62,1.8a2.06,2.06,0,0,1,1.49,1.38,2.14,2.14,0,0,1-.39,2.06L25.32,20.5l.73,8.19a2.13,2.13,0,0,1-.88,1.93,2,2,0,0,1-2,.2L16,27.58,8.84,30.82A2,2,0,0,1,8,31ZM16.05,3l-4.3,7.43a1,1,0,0,1-.64.48l-8,1.89c-.06.1-.07.16,0,.21l5.45,6.49a1,1,0,0,1,.23.73l-.77,8.6C7.93,29,8,29,8,29l7.58-3.42a1,1,0,0,1,.82,0L24,29s.09,0,.08-.13l-.77-8.6a1,1,0,0,1,.23-.73L29,13.05a.15.15,0,0,0,0-.14l-8.1-2a1,1,0,0,1-.64-.48ZM10.88,10h0Z"/>-->
<!--                    </g>-->
<!--                </svg>-->
<!--                <img id="like" class="<?= $post->isLiked() ?>" src="../web/img/star.png" alt="star">-->
                <button id="like" class="<?= $post->isLiked() ?>">Save</button>

            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block style_link %}
<link rel="stylesheet" href="../web/style/style.css">
{% endblock %}

{% block script_tag %}
<script src="../web/js/like.js"></script>
{% endblock %}
