{% include 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block main-link %}"/main"{% endblock %}

{% block header-link %}
<svg data-name="Layer 1" id="Layer_1" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
    <title/>
    <path fill="#c80000" d="M25,1A24,24,0,1,0,49,25,24,24,0,0,0,25,1Zm0,46A22,22,0,1,1,47,25,22,22,0,0,1,25,47Z"/>
    <path fill="#c80000" d="M25,25.41a13,13,0,0,0-13,13,1,1,0,0,0,2,0,11,11,0,1,1,22,0,1,1,0,0,0,2,0A13,13,0,0,0,25,25.41Z"/>
    <path fill="#c80000" d="M25,23.71a7,7,0,0,0,6.81-7.2A7,7,0,0,0,25,9.3a7,7,0,0,0-6.81,7.21A7,7,0,0,0,25,23.71ZM25,11.3a5,5,0,0,1,4.81,5.21A5,5,0,0,1,25,21.71a5,5,0,0,1-4.81-5.2A5,5,0,0,1,25,11.3Z"/>
</svg>
<a href="/profile"><?= $user->getUsername() ?></a>
{% endblock %}

{% block content %}

<div class="main-form">


    <div class="post">
        <div class="post-left">

            <img src="<?= $user->getPhoto() ?>" class="card-post-img" alt="photo">

        </div>
        <div class="card-post post-right">
            <div class="main-post-title">
                <p class="post-title accent">Your profile</p>
            </div>

            <div class="post-desc">

                <div class="info">
                    <p class="label">Username: </p>
                    <p class="mar"><?= $user->getUsername() ?></p>
                </div>

                <div class="info">
                    <p class="label">Email: </p>
                    <p class="mar"><?= $user->getEmail() ?></p>
                </div>

                <div class="info">
                    <p class="label">Description: </p>
                    <p class="mar"><?= $user->getDescription() ?></p>
                </div>

            </div>


            <div class="right-bot">

                <a href="/profile/edit" class="profile-btn">Edit my profile</a>
                <a href="/profile/my_posts" class="profile-btn">My posts</a>
                <a href="/profile/my_likes" class="profile-btn">My likes</a>

            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block style_link %}
<link rel="stylesheet" href="../web/style/style.css">{% endblock %}